/*// reset standard spacing
* {
    padding: 0;
    margin: 0;
} */

body {
    background: #eeefee;
    color: #000000;
}

.floatright {
    float: right;
}

.floatright a img {
    border: 0;
}

div.ref {
    font-style: italic;
}
